.form-list{
    width: 70%;
    h1{
        margin: 20px auto;
    }
    .bloc-form{
        width: 70%;
        margin: auto;
        border: 1px solid $color1;
        padding: 10px;
        .input-name{
            border-bottom: 2px solid $color1;
        }
        input{
            display: block;
            width:100% ;
            height: 50px;
            border: none;
            background-color: transparent;
           
        }
        .input-name-tache{
            font-size: 14px;
            color: rgb(58, 57, 57);
        }
        .bloc-taches{
            width: 100%;
            .ajout-tache{
                width: 100%;
                border-bottom: 2px solid $color1;
                @include centerVertical;
            }
          
            .icon-delete{
                width: 1.5em;
                height: 1.5em;
                margin-right: 10px;
                fill: $color1;
            }
            .btn-ajout-tache{
                width: 140px;
                margin-top: 10px;
                margin-bottom: 20px;
            }
            
        }
        .bloc-model-color{
            width: 100%;
            .circle-picker{
                width: 80% !important;
                margin:20px auto !important;
                justify-content: space-between;
                span{
                    div{
                        margin: auto !important;
                        width: 42px !important;
                        height: 42px !important;
                    }
                }
            }
            .liste-modeles{
                @include centerVertical;
                margin-top: 5px;
                margin-bottom: 15px;
                img.testIconeCheck{
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
    button{
        display: block;
           
            padding: 5px;
            border-radius: 10px;
            border: 1px solid $color1;
            background-color: transparent;
            cursor: pointer;
            &:hover{
                background-color: $color1;
                color: white;
            }
    }
    .btn-submit{
           display: block;  
           width: 200px;   
           margin: 20px auto;
                
    }
    @media (max-width: 1180px) {
        .bloc-form{
            width: 90%;
        }
    }
    @media (max-width: 930px) {
        .bloc-form{
            width: 90%;
        }
    }
    @media (max-width: 768px) {
        width: 100%;
       
    }
    @media (max-width: 580px) {
        .bloc-form{
            .liste-modeles{
                flex-direction: column;
                gap: 20px;
            }
        }
       
    }
    @media (max-width: 425px) {
        .bloc-form{
            .bloc-model-color{
                .circle-picker{
                    width: 100% !important;
                    span{
                        div{
                            width: 38px !important;
                            height: 38px !important;
                        }
                    }
                }
            }
        }
       
    }
}