.liste-modele{
    width: 180px;
    height: 130px;
    border: none;
    background-color: $color1;
    border-radius: 5px;
    cursor: pointer;
   
    h2{
        margin-top: 5px;
        font-size: 14px;
    }
    ul{
        padding: 10px;
        li{
            list-style-type: none;
            @include centerVertical;
            img{
                width: 8px;
                height: 8px;
                object-fit: cover;
                margin-right: 5px;
            }
            span{
                font-size: 11px;
            }
            .testIconeCheck{
                font-size: 20px;
            }
        }
    }
    @media (max-width: 930px) {
        width: 145px;
        height: 110px;
    }
    @media (max-width: 768px) {
        width: 160px;
        height: 120px;
    }
    @media (max-width: 580px) {
        width: 180px;
        height: 130px;
    }
}